/*
Project Name: Sarahstevens.com.au
Client: Sarah Stevens
Author: Sarah Stevens
Developer @GA in Melbourne
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clearfix: contain floats */
.group:after {
  content: " ";
  display: block;
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


/* Start: Footer at bottom */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 50px; /* bottom = footer height */
}

footer {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
}

/* End: Footer at bottom */

body {
  font-family: 'Apercu', Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal;
  background-color: #fff;
  text-align: center;
  line-height: 1.4;
  font-size: 12px;
  color: #333;
}




/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  background-color: #FFE3E4;
  position: relative;
  margin: 0 auto;
  top: 0;
}

nav{
  background-color: #FFE3E4;
  padding-bottom: 20px;
  position: relative;
  margin: 0 auto;
}

section {
  padding-bottom: 50px;
  position: relative;
  max-width: 1024px;
  margin: 0 auto;  
}

article{
  padding: 0 10px 20px 10px;
  display: inline-block;
  text-align: center;
  max-width: 502px;
  overflow: hidden;
  height: auto;
  width: 50%;
}

footer {
  background-color: #FFE3E4;
  margin: 0 auto;

}



/******************************************
/* TYPE
/*******************************************/


@font-face{
  font-family: 'Apercu';
  src: url('fonts/ApercuRegular.otf');
}

h1{
  padding: 60px 0 20px 0;
  font-size: 32px;
}

h2{
  padding: 0 0 20px 0;
  font-size: 32px;
}

h3{
  padding: 0 0 20px 0px;
  text-align: center;
  font-size: 24px;
}

h5{
  font-size: 12px;
}

p{
  font-family: 'Merriweather', serif;
  padding: 0 100px 60px 100px;
  line-height: 1.8;
  font-size: 16px;
}

a{
  font-family: 'Apercu', Calibri, sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #333;
}

.footer-right a{
  font-size: 12px;
}

.footer-right a:hover{
  color: #ff0008;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.logo img{
  padding: 50px 0 50px 0;
  margin: 0 auto;
}

.logo img:hover{
  opacity: 0.7;
}

.logo a{
  display: inline-block;
}

nav a{
  padding:0 10px; 
}

nav a:hover{
  opacity: 0.7;
}

.selected{
  color: #ff0008;
}

.selected:hover{
  opacity: 1;
}

.index{
  padding: 0 10px 100px 10px;
}

.index img{
  max-height: 100%;
  max-width:100%;
}

.index a{
  display: block;
}

.content-image{
  padding: 0 20px 40px 20px;
  width: 100%;
}

.pink{
  background-color: #FFE3E4;
}

.underlay{
  position: absolute;
  height: 200px;
  width: 100%;
}

.footer-left{
  padding: 20px 0 0 20px;
  display: inline-block;
  text-align: left;
  width: 50%;
}

.footer-right{
  padding: 20px 20px 0 0;
  display: inline-block;
  text-align: right;
  width: 50%;
}

.left-column{
  display: inline-block;
  text-align: left;
  padding-top: 0;
  width: 50%;
}

.left-column p{
  padding: 0 10px 60px 100px;
}

.right-column{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-top: 0;
  width: 50%;
}

.right-column p{
  padding: 0 100px 60px 10px;
}

.nav-underline {
  border-bottom: 1px solid #333;
}

.about-text{
  padding: 40px 100px 60px 100px;
}

.contact {
  padding-bottom: 60px;
  color: #ff0008;
}

.mobile-nav{
  display: none;
}

/*.grow { 
  transition: all .2s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.1); 
  overflow: hidden;
}
*/

/* Phones -----------------------*/
@media screen and (max-width:767px) {

  /* Index Images */

  article{
    padding: 0 20px 20px 20px;
    margin: 0 auto;
    width: 100%;
  }


  /* Content Images */

  #container img{
    padding: 0 20px 20px 20px;
    margin: 0 auto;
    width: 100%;
  }

  /*Two Column Layout*/

  .left-column{
    padding: 0 20px 20px 20px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  .left-column p{
    padding: 0 20px 20px 20px;
  }

  .right-column{
    padding: 0 20px 20px 20px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  .right-column p{
    padding: 0 20px 20px 20px;
  }


  /*Text Layout*/

  p,
  h2,
  h3{
    padding: 0 20px 20px 20px;
    text-align: center;
    display: block;
  }

  h2,
  h3{
    padding-top: 40px;
  }

  body {
    margin: 0 0 100px; /* bottom = footer height */
  }
  footer {
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .about-nav{
    border-bottom: 1px solid #333;
    padding-bottom: 0;  
  }

  .about-text{
    padding: 20px 20px 100px 20px;
    text-align: center;
    display: block;
  }

  .footer-left{
    background-color: #FFE3E4;
    padding: 20px 0 20px 0;
    text-align: center;
    display: block;
    width: 100%;
    
  }

  .footer-right{
    background-color: #FFE3E4;
    padding: 0 0 30px 0;
    text-align: center;
    display: block;
    width: 100%;
  }

  /*Mobile Nav*/

  nav{
    transition: height 1s;
    padding-bottom: 0;
    overflow: hidden;
    clear: both;
    height: 0;
  }


  nav.open{
    background-color: #FFE3E4;
  }

  nav a{
    margin-bottom: 20px;
    display: block;
    }

  .mobile-nav{
    transition: all 0.1s;
    padding-bottom: 20px;
    position: relative;
    display: block;
    width: 100%;  
  }

  .mobile-nav-open{
    display: none;
  }

  .mobile-nav-open{
    display: block;
  }

}  
